*~
/.htaccess
/.idea
/api.php
/app/.htaccess
/app/code/community/Cm
/app/code/community/Phoenix
/app/code/core
/app/code/local
/app/etc/modules/Cm_*
/app/etc/modules/Mage_*
/app/etc/modules/Phoenix_*
/app/etc/config.xml
/app/etc/local.xml*
/app/locale
/app/Mage.php
/cron.php
/cron.sh
/downloader
/errors
/favicon.ico
/get.php
/includes
/index.php
/index.php.sample
/install.php
/js
/lib/.htaccess
/lib/3Dsecure
/lib/Cm
/lib/Credis
/lib/flex
/lib/LinLibertineFont
/lib/Mage
/lib/Magento
/lib/PEAR
/lib/phpseclib
/lib/Varien
/lib/Zend
/LICENSE_AFL.txt
/LICENSE.html
/mage
/media
/php.ini.sample
/pkginfo
/RELEASE_NOTES.txt
/shell
/skin
/var/cache
/var/connect/package.xml
/var/export
/var/importexport
/var/import
/var/locks
/var/log
/var/package
/var/report
/var/session
/var/tmp
/var/.htaccess
