*~
/.htaccess
/.idea
/LICENSE_AFL.txt
/LICENSE.html
/RELEASE_NOTES.txt
/api.php
/app/.htaccess
/app/code/community/Cm
/app/code/community/Phoenix
/app/code/core
/app/code/local
/app/design/adminhtml/default/default/layout/*.xml
/app/design/adminhtml/default/default/locale
/app/design/adminhtml/default/default/template
/app/design/frontend/base/default/etc
/app/design/frontend/base/default/layout/*.xml
/app/design/frontend/base/default/layout/sales
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/jeroenvermeulen
/app/design/frontend/default
/app/design/install
/app/etc/modules/Cm_*
/app/etc/modules/Mage_*
/app/etc/modules/Phoenix_*
/app/etc/config.xml
/app/etc/local.xml*
/app/locale/*/*.csv
!/app/locale/*/JeroenVermeulen_Solarium.csv
/app/locale/*/template
/app/Mage.php
/cron.php
/cron.sh
/downloader
/errors
/favicon.ico
/get.php
/includes
/index.php
/index.php.sample
/install.php
/js/calendar
/js/extjs
/js/flash
/js/jscolor
/js/lib
/js/mage
/js/prototype
/js/scriptaculous
/js/tiny_mce
/js/varien
/js/blank.html
/js/index.php
/js/spacer.gif
/lib/.htaccess
/lib/3Dsecure
/lib/Cm
/lib/Credis
/lib/flex
/lib/LinLibertineFont
/lib/Mage
/lib/Magento
/lib/PEAR
/lib/phpseclib
/lib/Varien
/lib/Zend
/mage
/media
/php.ini.sample
/pkginfo
/shell
/skin/adminhtml/default/default/images/*
!/skin/adminhtml/default/default/images/jeroenvermeulen
/skin/adminhtml/default/default/lib
/skin/adminhtml/default/default/media
/skin/adminhtml/default/default/xmlconnect
/skin/adminhtml/default/default/*.css
/skin/adminhtml/default/default/*.ico
/skin/frontend
/skin/install
/var/cache
/var/connect/package.xml
/var/export
/var/importexport
/var/import
/var/locks
/var/log
/var/package
/var/report
/var/session
/var/tmp
/var/.htaccess
